@keyframes splenda {
    0% {r: "150";}
    50% {r: "175";}
    100% {r: "150";}
}

body {
  background-color: DarkSlateGray;
}

.container {
  position: relative;
  width: 90%;
  height: 90%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  /* background-color: white; */
  text-align: center;
  margin: auto;
}

.nav-item {
  display: inline;
  font-size: 50px;
  padding: 30px;
}

.nav-item a {
  text-decoration: none;
  font-family: "fantasy";
}

.animation {
  padding-top: 5%;
}
